body { 
  /*padding: 30px 0 50px 0; */
  font-family: 'Roboto', sans-serif;
  margin:8px;
}

.back {
  margin-top: 20px;
}

.title {
  text-align: center;
  padding-bottom: 50px;
}

.solved {
  color: green;
}

.unsolved {
  color: red;
}

.solution {
  font-size: 70px;
  font-weight: 200;
}

form {
  margin: 30px 0px 60px 0;
}

.regex {
  margin: 0 20px;
}

.instruction {
  font-style: italic;
  text-align: center;
}

.success {
  text-align: center;
}

.error-msg {
  font-style: italic;
  color: red;
}

.bottom-space {
  margin-bottom: 50px;
}
.username { 
  margin: .8em;
  color: rgba(255, 255, 255, 0.87);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  flex: 1; 
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: rgba(255, 255, 255, 0.87); }
.material-icons.margin-10 { margin: 10px; }
 
.timer{
  text-align:center;
}

.jumbotron, .well, .panel {
  margin-top: 10px;
}

.btn, .btn-primary, .btn-lg {
  border-radius: 0;
}

.btn-primary {
  background-color: #00bcd4 !important;
  border-color:#14A7BB;
  color: rgba(255, 255, 255, 0.87);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:visited {
  color: #fff;
  background-color: #45BCCC !important;
  border-color: #14A7BB !important;
}

a.login {
  text-decoration: none;
  color: white;
}

#question-dialog h2 {
  padding: 14px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
